<% 
=begin %>
<div class="col-md-2 col-md-offset-4">
    <%= link_to 'New Guest', new_guest_path, id: "new_link", remote: true, class: "btn btn-default" %>
  </div>
<div class="row">
  <div class="col-md-6 col-md-offset-2" id="guest-form" style="display:none;"></div>
</div>

<div class="col-md-12">

  <div class="well">Hello! You can now Rsvp!</div>
</div>
<table class="table" id="guest-table">
  <thead>
    <tr>
      <th>Attendance</th>
      <th>Name</th>
      <th>Message</th>
      <th>PlusOnes<th>
    </tr>
  </thead>
  <tbody>
   <% @guest.each do |guest| %>
    <tr>
      <td><%= t guest.status.class %></td>
      <td><%= guest.name %></td>
      <td><%= guest.message %></td>
      <td><%= guest.plusones.map(&:name).join(',') %></td>
      <td><%= link_to 'Delete', guest_path(guest), method: :delete, data: { confirm: 'Are you sure?'} %>
          <%= link_to 'Show', guest_path(guest) %>
      </td>
    </tr>
  <% end %>  
  </tbody>
</table>
<%= paginate @pages %>
<!-- Test AREA -->
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" aria-label="...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->



<!-- TEST AREA -->
<div class="row">
<div class="col-md-4 col-md-offset-2"><!-- Cubes -->
      <div class="panel panel-default">
        <div class="panel-body">
        <h1>Header</h1>
        <div class="field">
      <%= simple_form_for :guest do |f| %>
        <%= f.fields_for :detail do |detail_fields| %>
        <%= render "detail_fields", :f => detail_fields %>
        <% end %>
        <%= f.button :submit %> 
      <% end %>
      </div>
        </div>
      </div>
</div>

<%
=end %>


<div class="col-md-6"><!-- Big Table -->
<div class="panel panel-default">
<div class="panel-body">
<!-- <%= link_to "CSV", guests_path(format: :csv) %> |
  <%= link_to "Excel", guests_path(format: "axlsx") %> -->
<% @guests = Guest.all %>
<div class="row"><!-- cube start -->
      <div class="col-sm-3 col-xs-3">
        <span class="cube l-success">
        <p><%= @guests.where(status: true).count %></p>
        <p>Accepted</p>
        </span>
      </div>
      <div class="col-sm-3 col-xs-3">
        <span class="cube l-warning">
        <p><%= @guests.where(status: false).count %></p>
        <p>Declined</p>
        </span>
      </div>
      <div class="col-sm-3 col-xs-3">
        <span class="cube l-default">
        <p><%= @plusone.count %></p>
        <p>Additional</p>
        </span>
      </div>
      <div class="col-sm-3 col-xs-3">
        <span class="cube l-info">
        <p><%= @total %></p>
        <p>Attending</p>
        </span>
      </div>
</div><!-- Cubes End -->
  

  <div class="table-responsive">
<table id="news" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th class="table-responsive"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

<% @guests.each do |guest| %>
    <tr>
  <td><span class="label bool"><%= t guest.status.class %></span></td>
  
  <td width="50%"><p>
  <span><%= guest.name %></span>
  <span class="label l-default"><%= h guest.plusones.map { |plus| plus.name }.join(',') %></span></p>
  <p><em><%= guest.message %></em></p></td>
  <% guest.plusones.each do |plus| %>

  <% end %>
  <td>
  
  <p><span class="label l-default"><%= pluralize(guest.plusones.count, 'additional guest') %></span></p>
  <p><span class="label l-info"><%= guest.created_at.strftime("%b %d") %></span></p>
  </td>
  <td><%= link_to guest, method: :delete, data: { confirm: 'Are you sure?'} do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        <%= link_to edit_guest_path(guest) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
  </td>
  </tr>
 
<% end %>

</tbody>
</table>
  
</div>
<div id="news-paginator">

</div><!-- paginator end -->
</div><!-- close Big Table -->
